* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, purple, white) fixed;
  justify-content: center;
}

table,
#container-footer {
  margin: -1px auto;
}

table,
#add-container,
#container-footer {
  width: 90%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr,
input[type="checkbox"],
#container-footer,
#add-button {
  border: 1px solid #000;
}

tr,
ul,
#add-container {
  display: grid;
}

tr {
  grid-template-columns: 36px 1fr 36px;
}

tr input,
tr label,
li {
  grid-row: 1;
}

tr :nth-child(2) {
  overflow: hidden;
  margin: auto 0;
}

tr :nth-child(3),
input[type="checkbox"],
#add-button,
#all,
#active,
#complete {
  cursor: pointer;
}

tr :nth-child(3),
ul {
  margin: auto;
}

tr :nth-child(3) {
  font-size: xx-large;
}

/* ul,
input[type="checkbox"] {
  display: flex;
} */

ul {
  list-style: none;
  /* justify-content: space-between; */
}

li,
input[type="checkbox"]:checked:after {
  display: block;
}

li {
  margin: auto;
  padding: 5px;
}

input[type="checkbox"] {
  display: flex;
  background-color: transparent;
  appearance: none;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 3px;
}

input[type="checkbox"]:after {
  content: "X";
  display: none;
  font-size: x-large;
}
/* ID Selector */
#all {
  border: 1px solid #000;
}

#add-container {
  height: 60px;
  position: fixed;
  left: 50%;
  bottom: 20px;
  grid-template-columns: 1fr 40px;
  margin-left: -45%;
}

#add-container p {
  text-align: center;
}

#task-input,
#add-button {
  padding: 5px;
  font-size: large;
}

#task-input {
  width: 98%;
  height: 40px;
}

#add-button {
  width: 35px;
  height: fit-content;
  background-color: #fff;
  font-size: 25px;
  font-weight: 600;
  justify-self: end;
  margin-top: 18px;
}

/* Class Selector */
.complete {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.light {
  color: #fff;
}